@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 3px 3px;
}

.glow {
  text-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.2);
}